<%- include('includes/head.ejs') %>
    <link rel="shortcut icon" href="/images/lead-fev.png">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    
    <main class="custop-dash-bg">
      <script>
        const oldsubs = JSON.parse('<%- JSON.stringify(subscriptions) %>');
        const sentprices = JSON.parse('<%- JSON.stringify(prices) %>');
        const payments = parseInt('<%- payment %>');
        const clientSecret = '<%- clientSecret %>';
      </script>

      <!-- Navbar -->
      <%- include('includes/navdash.ejs') %>
      
        <!-- Page Content  -->
        <div id="content" class="right-sidebar">
          <h2 class="mb-4">Billing</h2>
          <button class="billing-btn">Billing Information</button>
          <!-- <p class="subs-start"><i class="bi bi-check-circle-fill"></i> &nbsp;Your subscription plan starts on June 27, 2021 and will automatically renew on July 27, 2021</p> -->

          <div class="active-module-bx">
            <h6>Active Modules</h6>
            <p>Here you can manage the active modules for the admin user. Depending on your choice, the subcription value will change accordingly.</p>
            <div class="row">
              <div class="col-12 col-md-6 d-flex">
                <div class="click-tog-bx">
                  <% for(price of prices){ %>
                    <div class="switch-btn">
                      <p><%= price.product.name %></p>
                      <div class="custom-control custom-switch">
                          <input 
                          type="checkbox" 
                          onclick="updateprice(this)" 
                          class="custom-control-input" 
                          id="<%= price.id %>"
                          name="<%= price.product.name %>"
                          data-amount="<%= price.unit_amount/100 %>"
                          >
                          <label class="custom-control-label" for=<%= price.id %>></label>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="col-12 col-md-6 d-flex">
                <div class="click-tog-bx click-tog-bx2">
                  <div id="subs" class="switch-bx-price-det email-p-spac">
                  </div>
                  <div class="switch-bx-price-det vat-p-spac">
                    <% if(tax.length > 0){ %>
                      <% for(t of tax){ %>
                        <p><%= t.display_name %> <%= t.percentage %>% <span id="taxoutput">$0</span></p>
                      <% } %>
                    <% } %>
                  </div>
                  <div class="switch-bx-price-det span-bg-txt">
                    <p>Paying Now <span id="final_price">0 <span class="span-sm-txt"> / month</span></span></p>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button onclick="subscribe()" class="update-module-btn">Update active modules</button>
              </div>
            </div>
          </div>

          <div class="active-module-bx">
            <h6 class="mb-4">Credit Cards</h6>
            <% if(paymentMethods.length > 0){ %>
              <% for(let paymentMethod of paymentMethods){ %>
                <div class="visa-card-det">
                  <div class="visa-number">
                    <img src="/images/visa-img.png" alt="Image">
                    <p>**** **** **** <%= paymentMethod.card.last4 %> (Expire on <%= paymentMethod.card.exp_month %>/<%= paymentMethod.card.exp_year %>)</p>
                  </div>
                  <% if(!('isdefault' in paymentMethod)){ %>
                    <div class="visa-default">
                      <button onclick="makedefault('<%= paymentMethod.id %>')">Make Default Credit Card</button>
                    </div>
                  <% } %>
                </div>
              <% } %>
            <% } %>

            <h6 class="mb-4">Attach New Credit Card</h6>

            <div class="row">
              <div class="col-12 col-md-8 col-lg-6">
                <div class="credit-card-form">
                  <label for="">Credit Card Number</label>
                  <div id="card-number" class="card-element"></div>
                  <div class="row">
                    <div class="col-6" >
                      <label for="">Valid Until</label>
                      <div id="card-expiry" class="card-element"></div>
                    </div>
                    <div class="col-6">
                      <label for="">CVC</label>
                      <div id="card-cvc" class="card-element"></div>
                    </div>
                  </div>
                  <button id="card-button">Save Credit Card</button>
                </div>
              </div>
            </div>

          <div class="active-module-bx">
            <h6 class="mb-4">Upcoming invoice</h6>
            <p class="invoc-txt">Invoice will be billed at: <%= invoice.due_date %></p>
            <table class="invo-table">
              <thead class="text-white">
                <tr>
                  <th>#</th>
                  <th>Period</th>
                  <th>Description</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% if(Object.keys(invoice).length > 0){ %>
                  <% let sr = 1; %>
                  <% for(let data of invoice.lines.data){ %>
                    <tr>
                      <td><%= sr %></td>
                      <td><%= new Date(data.period.start*1000).toDateString() %> - <%= new Date(data.period.end*1000).toDateString() %></td>
                      <td>
                        <%= data.quantity %> x <%= data.price.product.name %> v3 (at <%= data.price.unit_amount/100 %>/month)
                      </td>
                      <td>$<%= data.price.unit_amount/100 %></td>
                    </tr>
                    <% sr++ %>
                  <% } %>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Subtotal:</td>
                    <td>$<%= invoice.subtotal/100 %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Tax (20%):</td>
                    <td>$<%= invoice.tax/100 || 0 %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td>$<%= invoice.total/100 %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Amount Due:</td>
                    <td>$<%= invoice.amount_due/100 %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>

    <!-- Js Files -->
    <%- include('includes/scripts.ejs') %>
    <script src="/js/card.js"></script>
    <script src="/js/calculate.js"></script>
  </body>
</html>
