<%- include('includes/head.ejs') %>
  </head>
  <body>
    
    <main class="custop-dash-bg">

      <!-- Navbar -->
      <%- include('includes/nav.ejs') %>

      <div id="content" class="log-forn">
        <div class="reset">
          <h2 class="d-block">Reset Password </h2>
          <div class="login-form">
            <img src="images/reset-icon.png" alt="Icon">
            <p class="text-center mb-4">Enter your email address in the form below and we will send you further instructions on how to reset your password.</p>
            <form action="/passwordchange" method="POST" class="form-feilds">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
              <input name="email" value="<%= email %>" type="email" placeholder="Email">
              <% if(err){ %>
                <div>
                    <h5><%= err %></h5>
                </div>
              <% } %>
              <button>Change Password</button>
            </form>
          </div>
        </div>
      </div>

    </main>

    <!-- Js Files -->
    <%- include('includes/scripts.ejs') %>
  </body>
</html>