<%- include('includes/head.ejs') %>
  </head>
  <body>
    
    <main class="custop-dash-bg">

      <!-- Navbar -->
      <%- include('includes/nav.ejs') %>

      <div id="content" class="log-forn">
        <div class="reset">
          <h2 class="d-block">Reset Password </h2>
          <div class="login-form">
            <img src="/images/reset-icon.png" alt="Icon">
            <h6 class="text-center mb-4">Enter your New Password</h6>
            <form action="/reset" method="POST" class="form-feilds">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
              <input type="hidden" name="email" value="<%= email %>" >
              <input type="hidden" name="token" value="<%= token %>" >
              <input name="password" type="password" placeholder="New Password">
              <input name="confirmpass" type="password" placeholder="Confirm New Password">
              <% if(err){ %>
                <div>
                    <h5><%= err %></h5>
                </div>
              <% } %>
              <button>Reset Password</button>
            </form>
          </div>
        </div>
      </div>

    </main>

    <!-- Js Files -->
    <%- include('includes/scripts.ejs') %>
  </body>
</html>