<%- include('includes/head.ejs') %>
  </head>
  <body>
    
    <main class="custop-dash-bg">

      <!-- Navbar -->
      <%- include('includes/nav.ejs') %>

      <div id="content" class="log-forn">
        <div class="login-form">
          <h2>Sign Up </h2>
          <form action="/signup" method="POST" class="form-feilds">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <input type="text" name="name" value="<%= name %>" placeholder="Full Name">
            <input type="email" name="email" value="<%= email %>" placeholder="Email">
            <input type="password" name="pass" placeholder="Password">
            <input type="password" name="pass2" placeholder="Confirm Password">
            <% if(error){ %>
              <div>
                  <h4><%= error %></h4>
              </div>
            <% } %>
            <button>Sign Up</button>
            <a href="/signin">Sing In</a>
          </form>
        </div>
      </div>

    </main>

    <!-- Js Files -->
    <%- include('includes/scripts.ejs') %>
  </body>
</html>